
body {
    margin: 20px;
    /*background-color: lightgrey;*/
}

.my-jumbtron {
    background-color: darkgreen;
}
.my-container {
    border: 1px solid;
}
.my-row {
    border: 2px solid blue;
    height: 300px;
}
.my-col {
    border: 2px dotted;
    height: 100px;
}

.top-margin {
    margin-top: 10px;
}
.left-margin {
    margin-left: 10px;
}
.my-padding {
    padding: 3px;
}
.auto-center {
    margin: auto;
}

.fix-heading-width {
    width: 175px;
}



/*Extra small devices –Phones (< 768px)*/
/*Small devices – Tablets (>= 768px)*/
/*Medium devices – Desktops (>= 992px)*/
/*Large devices – Desktops (>= 1200px)*/