
.auto-center {
    margin: auto;
}

.fix-heading-width {
    width: 175px;
}

.img-center {
    text-align:center
}
.background-image {
    background: url("../images/qbkls.png");
}

/*Extra small devices –Phones (< 768px)*/
/*Small devices – Tablets (>= 768px)*/
/*Medium devices – Desktops (>= 992px)*/
/*Large devices – Desktops (>= 1200px)*/